.mother-board{
    display: flex;
    align-items: center;
    justify-content: center;
    border:  2px solid rgba(0, 0, 0, 0.778);
    flex-direction: column;
    width: 40vw;
    margin: auto ;
    margin-top: 12%;
    padding: 2% 10%;
    border-radius: 1em;
    position: relative;
    background-color: antiquewhite;
}
.add-task{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}
.add-task button{
    font-size: .8em;
    font-weight: 500;
    font-style: italic;
    color: white;
    background-color: rgba(0, 0, 0, 0.772);
    border: 2px solid rgba(197, 190, 190, 0.626);
    outline: none;
    width: 100%;
    text-align: center;
    border-radius: 0.3em;
    text-align: center;
    margin-left: 20%;
   
}
.add-task button:hover{
    color: rgba(0, 0, 0, 0.79);
    background-color: white;
    border: rgba(11, 11, 21, 0.624) 2px solid;
}
.add-task input{
    color: rgba(0, 0, 0, 0.79);
    background-color: white;
    border: rgba(11, 11, 21, 0.624) 2px solid;
    border-radius: 0.3em;
    outline: none;
    color: black;
    font-family: monospace;
    text-align: center;
    overflow: scroll;
    width: 100%;
}
.tasks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 11%;
    
}
.btns{
    display: flex;
    gap: 0.1em;
}
.btns button{
    border: none;
    outline: none;
    background-color: transparent;
}
.btns img{
    width: 3vw;
}
@media (max-width:420px){
    /* body{
        background-color: blue;
    } */
    .btns img{
        width: 5vw;
    }
    .mother-board{
        width: 70vw;
    }
    .add-task button{
        width: 130%;
    }
    .add-task input{
        width: 100%;
        left: 0;
    }
}